:root {
  --xiketic: #03071eff;
  --vermilion: #dc2f02ff;
  --persimmon: #e85d04ff;
  --tangerine: #f48c06ff;
  --orange-web: #faa307ff;
  --cotton-candy: #fdc5f5ff;
  --plum-web: #f7aef8ff;
  --lavender-floral: #b388ebff;
  --cornflower-blue: #8093f1ff;
  --sky-blue-crayola: #72ddf7ff;
}

body {
  background: linear-gradient(180deg #fdc5f5ff, #b388ebff, #8093f1ff);
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  /* border-bottom: 1px orangered solid; */
  border-radius: 2px;
  border-style: solid;
  width: 100%;
}

.hyperlink {
  color: black;
  font-size: 20px;
}

/* Navbar */

.logo {
  width: 20%;
  /* border: 1px solid red; */
}

ul {
  width: 90%;
  list-style: none;
  display: inline-flex;
  /* flex-direction: row; */
  color: #f2f2f2;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
  /* border: 1px solid red; */
  margin-right: 20%;
}

ul a:hover {
  background: var(--orange-web);
  transition: 0.5s;
}

a {
  text-decoration: none;
  margin-left: 7px;
  margin-right: 7px;
  justify-content: space-evenly;
  font-size: 20px;
  padding: 7px 13px;
  text-transform: uppercase;
}

.dropdown {
  font-size: 20px;
  text-transform: uppercase;
}

.dropdown a:hover {
  background: var(--orange-web);
}

body {
  background: linear-gradient(#fdc5f5ff, #9198e5) 50%;
  background-attachment: fixed; /*edit*/
}

/* Search Bar */

/* .container-search {
	margin-left: 18%;
	margin-top: 2%;
	margin-bottom: -6%;
	width: 22%;
} */

/* User Icons */
/* .container-user {
	margin-left: 70%;
	margin-top: -5%;
	margin-bottom: -3%;
} */

.dropdown-item {
  font-size: 12px;
}
li.mx-1 {
  padding-top: 140px;
}
