.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.prodname.list-group-item {
  width: 50%;
}
p.prodnametxt {
  font-weight: 700;
  font-size: 22px;
  padding-top: 10%;
}
p.prodpricetxt {
  font-weight: 700;
  font-size: 22px;
  padding-top: 120%;
}
.btun.list-group-item {
  padding-top: 5%;
}
.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  padding-left: 10%;
}
.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  padding-left: 10%;
}
.totalbox.card {
  margin-left: 10%;
  width: 78%;
}
p.total {
  font-weight: 700;
  font-size: 30px;
  /* padding-top: 120%; */
  float: right;
  margin-right: 11%;
}
.mx-1 {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background: #0000 !important;
  border: #00ffff00;
}
